<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Softwen_project.Properties.Settings.DBSoftwenConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\DBSoftwen.mdf;Integrated Security=True;User Instance=True"
            providerName="System.Data.SqlClient" />
        <add name="Softwen_project.Properties.Settings.dbsoftwenConnectionString1"
            connectionString="Data Source=LORENZ-PC\SQLEXPRESS;Initial Catalog=dbsoftwen;Persist Security Info=True;User ID=dbsoftwen"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
<startup useLegacyV2RuntimeActivationPolicy ="True"><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
